.mainview {
	overflow: hidden;
}
.header {
	background: rgb(255,255,255);
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content {
	background: rgb(255,255,255);
}
.sider {
	background: rgb(255,255,255);
}

.sider-right {
	background: rgb(255,255,255);
	width: 400px;
}
.sider-hidden {
	display: none;
}
.trgmenu {
    font-size: 18px;
    line-height: 1.5;
    padding: 0 10px;
    cursor: pointer;
    transition: color .3s;
    vertical-align: top
}
.trgmenu:hover {
	color: #108ee9;
}
.tasktree {
	display: inline-table;
	width: 85%;
}