.timeview {
	position: absolute;
	height: 250px;
	width: 1000px;
	left:200px;
  	bottom: 0px;
  	z-index: 100;
  	/*background: #323c48;*/
  	opacity:0.9;
}
.timecharts {
    opacity:1;
}
.timedisplayer-button {
    z-index: 101;
}