.timeview {
	height: 250px;
  max-height: 250px;
	width: 100%;
	bottom: 300px;
	z-index: 100;
	/*background: #323c48;*/
	opacity:0.9;
}
.timecharts {
    height: 250px;
    max-height: 250px;
    width: 100%;
    opacity:1;
}
.timedisplayer-button {
    z-index: 101;
}